.s_main{
    width:80%;
    height:470px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 8%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.s_main>div:nth-child(1){
    width: 45%;
    height: 100%;
    /* border: 1px solid blue; */
    border-right: 1px solid gray;
    margin: auto;
}
.s_main>div:nth-child(2){
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
}

.s_main>.s_img>img{
    height:80%;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 8%;
}

.s_main>.s_img+.info{
    display: block;
}
.s_main .info>.s_info{
    height: 85%;
    /* border: 1px solid red; */
    text-align: left;
}
button{
    height: 50px;
    width: 50%;
    font-size: 25px;
    color: white;
    background-color: #fc2779;
    border: none;
    margin-top: 4%;
}
.s_main .info>.last{
    height: 13%;
    /* border: 1px solid red; */
    background-color: rgb(221, 219, 219);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -1.5%;
}
.s_main .info>.s_info>h5{
    margin-top: 3%;
}
h4{
    margin-top: 3%;
}

.s_main .info>.s_info> p{
    font-weight: 600;
    font-size: 20px;
    color: gray;
    margin-right: 7%;
}