.hero_div{
    height: 400px;
    width: 95%;
    margin: auto;
    margin-top: 7%;
}
.hero_div img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.category{
    width: 97%;
    margin-top: 5%;
    display: flex;
    margin:auto;
    margin-top: 4%;
}
.category div{
    width: 47%;
    margin: auto;
}
.category div img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.sale{
    width: 95%;
    margin:auto;
    margin-top: 5%;
}
.sale div img{
    height: 100%;
    width: 100%;
}

.luxe{
    width: 95%;
    margin:auto;
    margin-top: 3%;
}
.luxe h3{
    font-weight: 600;
    margin-bottom: 1%;
    margin-left: -0.1%;
}
.luxe img{
 width: 100%;
}

.brands{
    width: 95%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:30px;
    margin: auto;
    margin-top: 2%;
}
.brands div{
    height: 370px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
}
h3{
    font-weight: 600;
    margin-left: 3%;
    margin-top: 4%;
}
.brands div h5 {
    font-weight: 600;
    margin-top: 15px;
    margin-left: 4%;
}
.brands div h6 {
    font-weight: 600;
    margin-top: 5px;
    margin-left: 4%;
    color: gray;
}
.brands div img{
    width: 100%;
    height: 75%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.top_brands{
    width: 95%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:60px;
    margin: auto;
    margin-top: 2%;
}
.top_brands div{
    height: 280px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
}

.top_brands div h4 {
    font-weight: 600;
    margin-top: 5px;
    margin-left: 4%;
    color: #fc2779;
    margin-top: 12px;
    font-size: 19px;
}
.top_brands div h5 {
    font-weight: 600;
    margin-top: 5px;
    margin-left: 4%;
    color: gray;
    font-size: 17px;
}
.top_brands div img{
    width: 100%;
    height: 73%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}